<div class="nav">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/registration">Registration</a></li>
      <!-- <li><a href="/accepted">Accepted Papers</a></li> -->
      <li><a href="/invited">Invited Talks</a></li>
      <li><a href="/program">Programme</a></li>
      <li><a href="/cfp">Call For Papers</a></li>
      <li><a href="/submission">Paper Submission</a></li>
      <li><a href="/pc">Programme Committee</a></li>
      <li><a href="/location">Location</a></li>
      <!-- <li><a href="/social">Social Event</a></li> -->
      <li><a href="/accommodation">Accommodation</a></li>
      <li><a href="/steering">Steering Committee</a></li>
      <li><a href="/previous">Previous Editions</a></li>
      <li><a href="/contact">Contact</a></li>
  </nav>
</div>
</html>
